body {
    font-family: Helvetica;
    /* font-size: 20px; */
    /* font-weight: 300; */
    /* font-family: 'Passion One', cursive; */
    /* border: 20px solid white; */
    border-bottom: none;
    /* min-height: 100vh; */
    margin: 10px;
    margin-bottom: 0;

    /* background: tomato; */
    background: rgba(137, 96, 158, .7);

    background: rgba(0, 0, 0, .4);

    text-transform: lowercase;

    color: rgba(150, 96, 158, 1);

    color: #DC6BAD;

    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* The animation */

@keyframes TOOLTIP {
  from {
    bottom: .5em;
    background-color: rgba(0,0,0,0);
    /* border: .05em solid rgba(255,255,255,0); */
    color: rgba(255,255,255,0);
    box-shadow: 0 0 0 rgba(0,0,0,1);
  }
  to {
    bottom: 1.5em;
    background-color: rgba(0,0,0,.85);
    /* border: .05em solid rgba(255,255,255,1); */
    color: rgba(255,255,255,1);
    box-shadow: .15em .15em .5em rgba(0,0,0,1);
  }
}

/* Style for the tool-tip */

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 1.5em;
  left: 0;
  /* max-width: 5em; */
  padding: .5em .75em;
  /* border: .05em solid rgba(255,255,255,1); */
  /* border-radius: .2em; */
  box-shadow: .15em .15em .5em rgba(0,0,0,1);
  content: attr(aria-label);
  background-color: rgba(0,0,0,.85);
  color: rgba(255,255,255,1);
  font-size: 80%;
  animation: TOOLTIP .1s ease-out 1;
}

header {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;

    /* font-family: 'Passion One', cursive; */
    font-size: 1.4em;
    color: white;
    color: rgba(137, 96, 158, 1);
    color: #333;
    /* text-shadow:
        -1px -1px 0 rgba(137, 96, 158, .7),
        1px -1px 0 rgba(137, 96, 158, .7),
        -1px 1px 0 rgba(137, 96, 158, .7),
        1px 1px 0 rgba(137, 96, 158, .7); */
     letter-spacing: 1px;
     /* -webkit-text-stroke: 1px rgba(137, 96, 158, .7); */
}

header .notice {
    /* position: absolute; 
    right: 0;
    bottom: 0; */

    font-size: .6em;
    opacity: .5;

}

header h1 {
    margin-bottom: 0;
}

header span {
    /* font-style: italic; */
    text-shadow:
        -1px -1px 0 #999,
        1px -1px 0 #999,
        -1px 1px 0 #999,
        1px 1px 0 #999;
}

header .byline {
    font-size: .8em;
    /* font-style: italic; */
    font-weight: normal;
    letter-spacing: normal;
    opacity: .5;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;

    /* background: rgba(0,0,0,.02); */
}

main section {
    margin-bottom: 10%;
}

main section h1 {
    position: relative;

    /* font-family: "Arial Narrow"; */
    color: #333;
    /* color: rgba(137, 96, 158, 1); */

    /* color: white;
    letter-spacing: 1px;
    text-shadow:
        -1px -1px 0 rgba(137, 96, 158, .7),
        1px -1px 0 rgba(137, 96, 158, .7),
        -1px 1px 0 rgba(137, 96, 158, .7),
        1px 1px 0 rgba(137, 96, 158, .7); */
}

/* main section h1:after {
    display: inline-block;
    content: '';
    width: 90%;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;

    background: rgba(0,0,0,.1);

} */


main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main li {
    /* border-bottom: 1px solid rgba(0,0,0,.1); */
    position: relative;
    /* margin-bottom: 8px; */
}

main li:after {
    display: inline-block;
    content: '';
    width: 60%;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;

    background: rgba(0,0,0,.1);

    display: none;
}

main article {
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */

    font-size: 1.4em;

}

main article.new:before {
    content: '*';
    position: absolute;
    left: -5%;
    top: 1%;

    /* color: tomato; */
    color: white;
    font-size: .8em;
    font-style: italic;

}

article .emoji {
    order: -1;
    font-size: 1.2em;
    letter-spacing: 5px;
    flex-shrink: 0;
}

article .title {
    display: inline-block;
    /* flex-grow: 1; */
    height: 100%;
    /* min-width: 10%; */
    align-self: center;
    margin-bottom: 7px;

    margin-left: 10px;
    /* padding-right: 8px; */
    padding: 0 8px;
    /* position: absolute; */
    /* top: 1px; */


    font-family: 'Passion One', cursive;
    font-size: 1.2em;
    /* color: #DC6BAD; */
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 1px;
    background: white;
    transition: .2s ease-in-out;

}

article .title:hover {
    background: black;
    color: white;
}

article .date {
    align-self: center;
    margin-top: -5px;
    margin-left: 5px;
    /* vertical-align: middle; */

    font-family: 'Passion One', cursive;
    font-size: .8em;
}

@media screen and (max-width: 580px) {

    article {
        flex-wrap: wrap;
        margin-bottom: 40px;

    }

    article .title {
        width: 100%;
        margin-left: 0;
    }


}

@media screen and (max-width: 1150px) {

    main {
        grid-template-columns: 1fr;
    }

}
